<div class="row mb-4 shadow-sm">

  <!-- CATEGORY COLUMN -->
  <div class="col-3">
    <!-- SEARCH ICON UTF-8 -->
    <div class="input-group mb-4 shadow-sm">
      <div class="input-group-prepend">
          <span class="input-group-text">Ϙ</span>
      </div>
      
      <!-- SEARCH FIELD -->
      <input
      #query
      (keyup)="filter(query.value)"
      type="text"
      class="form-control"
      placeholder="Search by product..."
      />
    </div>
    <hr>
    <!-- DISPLAY CATEGORIES -->
    <div class="list-group mb-4 shadow-sm">
      <a class="list-group-item list-group-item-action" 
      [class.active]="!category" 
      routerLink="/">
        All categories
      </a>
      <a *ngFor="let c of categories$ | async" 
      routerLink="/" 
      [queryParams]="{ category: c.key }"
        class="list-group-item list-group-item-action" 
        [class.active]="category === c.key">
        {{c.title}}
      </a>
    </div>
  </div>

  <!-- PRODUCTS COLUMN -->
  <div class="col">
    <!--Right colum card -->
    <div class="row">
      <!--<ng-container *ngFor="let p of products$ | async"> -->
        <ng-container *ngFor="let p of filterProducts">
          <div class="col">
            <product-card [product] = "p" [shopping-cart]="cart" [link]="p.link" [hasLink]="p.hasLink"></product-card>
          </div>
        </ng-container>
      </div>
  </div>
</div>