<div class="row">

  <!-- CATEGORY -->
  <div class="col-3">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        [class.active]="!category"
        routerLink="/">
        All categories
      </a>
      <a *ngFor = "let c of categories$ | async"
      routerLink="/"
      [queryParams]="{ category: c.key }"
       class="list-group-item list-group-item-action"
       [class.active]="category === c.key">
          {{c.title}}
      </a>
    </div>
  </div>


  <!-- Right Colum Search bar-->

  <div class="col">  
      <input
        #query
        (keyup)="filter(query.value)"
        type="text"
        class="form-control"
        placeholder="My Search..."
        />
    <!--Right colum card -->
    <div class="row">
      <!--<ng-container *ngFor="let p of products$ | async"> -->
        <ng-container *ngFor="let p of filterProducts">
          <div class="col">
            <product-cart [product] = "p" [shopping-cart]="cart"></product-cart>
          </div>
        </ng-container>
      </div>
  </div>

</div>

