<h1></h1>
<div class="row">
  <div class="col-md-6" style="padding: 2em;">
    <!--   TEST   -->
    <ul class="items" *ngIf="items$ | async; let users; else loading">
      <h2>Users</h2>
      {{ users | json }}<br/><br/>
      
      <ul *ngFor="let user of users">
        <!--<p>Single users Address</p>-->
        <h3>{{ user.name }}</h3>
        {{ user.address | json }}
        <!--<p>{{ user.address.address1 | json  }}</p>
        <p>{{ user.address.address2 | json  }}</p>
        <p>{{ user.address.city | json  }}</p>
        <p>{{ user.address.firstname | json  }}</p>
        <p>{{ user.address.surname | json  }}</p>
        <p>{{ user.address.state | json  }}</p>
        <p>{{ user.address.zip | json  }}</p>-->
        <!-- DOESNT WORK FSR -->
        <!--<ul>
          <h2> KEY PIPE </h2>
          keys: {{ user.address | keys | json }}<br/><br/>
          <li *ngFor="let ads of user.address | keys">-->
            <!--{{ ads.key }}<br/>-->
            <!--{{ ads.value.firstname }}<br/>
          </li>
        </ul>-->
      </ul>
    </ul>
    <ng-template #loading>Loading&hellip;</ng-template>
      <!--<div *ngFor="let ads of address$ | async">
          <p>{{ads.email}}</p>
          <p>{{ads.name}}</p>
          <p>{{ads.address}}</p>
        </div>-->
    <!-------------->
    <h2 *ngIf="addressIsSaved">True</h2>
    <h2 *ngIf="!addressIsSaved">False</h2>
    <hr style="margin-top: 1.55em;">
    <p *ngIf="addressIsSaved">This means that the address is saved (virtually) 
      just need to manage some Firebase related getters.</p>
    <p *ngIf="!addressIsSaved">This means that the address is not saved 
      OR you want to edit your current address.</p>
      
  </div>
  <!-- BILLING ADDRESS COLUMN -->
  <div *ngIf="!addressIsSaved" class="card col-md-6" style="padding: 2em;"><!--*ngIf="addressSaved = false"-->
    <h2>Billing Address</h2>
    <hr>
    <!-- FIRST NAME -->
    <form #f="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input 
            #firstname="ngModel"
            name="firstname"
            [(ngModel)]="address.firstname" 
            id="firstname" 
            type="text" 
            class="form-control" 
            required
            placeholder="First name">

          <div class="alert alert-danger" *ngIf="firstname.touched && firstname.invalid">
            <div *ngIf="firstname.errors.required">First name is required.</div>
          </div>
        </div>
        <!-- SURNAME -->
        <div class="form-group col-md-6">
            <input 
              #name="ngModel" 
              name="surname" 
              [(ngModel)]="address.surname" 
              id="surname" 
              type="text" 
              class="form-control" 
              required
              placeholder="Last name">

            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
              <div *ngIf="name.errors.required">Last name is required.</div>
            </div>
        </div>
      </div>
      <!-- ADDRESS 1 -->
      <div class="form-group">
        <label for="inputAddress">Adress</label>
        <input 
          #address="ngModel" 
          name="address1" 
          [(ngModel)]="address.address1" 
          id="address1" 
          type="text"
          class="form-control" 
          placeholder="Storgatan 12A" 
          required>

        <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
          <div *ngIf="address.errors.required">Address is required.</div>
        </div>
      </div>
      <!-- ADDRESS 2 -->
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input 
          #address2="ngModel" 
          name="address2" 
          [(ngModel)]="address.address2" 
          id="address2" 
          type="text"
          class="form-control" 
          placeholder="LGH 1234"
          required>
  
        <div class="alert alert-danger" *ngIf="address2.touched && address2.invalid">
          <div *ngIf="address2.errors.required">Address 2 is required.</div>
        </div>
      </div>
      <!-- CITY -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input 
            #city="ngModel" 
            name="city" 
            [(ngModel)]="address.city" 
            id="city" 
            type="text" 
            class="form-control" 
            required
            placeholder="">
      
          <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            <div *ngIf="city.errors.required">City is required.</div>
          </div>
        </div>
        <!-- STATE -->
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input 
            #state="ngModel" 
            name="state" 
            [(ngModel)]="address.state" 
            id="state" 
            type="text"
            class="form-control" 
            required
            placeholder="">
      
          <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
            <div *ngIf="state.errors.required">State is required.</div>
          </div>
        </div>
      <!-- ZIP -->
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input 
            #zip="ngModel" 
            name="zip" 
            [(ngModel)]="address.zip" 
            id="zip" 
            type="text" 
            class="form-control" 
            required
            placeholder="123-45">
      
          <div class="alert alert-danger" *ngIf="zip.touched && zip.invalid">
            <div *ngIf="zip.errors.required">Zip is required.</div>
          </div>
        </div>
      </div>
        <button (click)="submitAddress(f.value)" class="btn btn-primary">Submit</button>
        <button (click)="addressIsSaved = true" class="btn btn-danger" style="margin-left: 0.5em;">Cancel</button> <!-- (click)="cancelAddress()"  -->
    </form>
  </div>

  <div *ngIf="addressIsSaved" class="card col-md-6" style="padding: 2em;"><!--*ngIf="addressSaved = false"-->
    <h2>Billing Address</h2>
    <hr>

    <form #f="ngForm">
      <div class="form-row">
        <div *ngIf="address$ | async as address" class="form-group col-md-6">
          <input disabled 
            #firstname="ngModel" 
            name="firstname" 
            [(ngModel)]="address.firstname" 
            id="firstname" 
            type="text" 
            class="form-control"
            placeholder="{{ address }}">
        </div>
        <div class="form-group col-md-6">
          <input disabled  
            #surname="ngModel" 
            name="surname" 
            [(ngModel)]="address.surname" 
            id="surname" 
            type="text" 
            class="form-control"
            placeholder="Does this even show?...">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress1">Address 1</label>
        <input disabled  
            #address1="ngModel" 
            name="address1" 
            [(ngModel)]="address.address1" 
            id="address1" 
            type="text" 
            class="form-control">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input disabled  
            #address2="ngModel" 
            name="address2" 
            [(ngModel)]="address.address2" 
            id="address2" 
            type="text" 
            class="form-control">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input disabled  
            #city="ngModel" 
            name="city" 
            [(ngModel)]="address.city" 
            id="city" 
            type="text" 
            class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input disabled  
            #state="ngModel" 
            name="state" 
            [(ngModel)]="address.state" 
            id="state" 
            type="text" 
            class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input disabled 
            #zip="ngModel" 
            name="zip" 
            [(ngModel)]="address.zip" 
            id="zip" 
            type="text" 
            class="form-control">
        </div>
      </div>
      <button (click)="addressIsSaved = false" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>