<h1>Shopping cart</h1>

<ng-container *ngIf="cart$ | async as cart">


  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productId of cart.productIds">
      <td>
        {{ cart.items[productId].product.title }}
      </td>
      <td>




        <product-quantity [product]="cart.items[productId].product" [shopping-cart]="cart">
        </product-quantity>



      </td>
      <td>
        {{ cart.items[productId].product.price }}
      </td>
      <td>
        {{ cart.items[productId].product.price * cart.items[productId].quantity  }}
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th> {{ cart.TotalPrice }} </th>
    </tfoot>
  </table>
  <a  routerLink="/check-out"
  class="btn btn-primary">Check Out</a>

  <button style="margin:0em 0em 0em 2em" (click)="clearCart()" class="btn btn-danger btn">Clear Shopping Cart</button>
</ng-container>
